#loader {
  display: none;
  position: absolute;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.articles {
  margin-top: 0;
  padding: 0;
  
  a {
    text-decoration: none;
    color: $main-font-color;
    
    .article-box {
      height: 420px;
      width: 100%;
      background-size: cover;
      background-position: 50%;
      display: flex;

      p {
        background: rgba(0,0,0,.6);
        margin-top: 0;
        margin: 0;
        padding: 0.5rem;
        line-height: 1.5rem;
        text-align: left;
        align-self: flex-end;
        width: 100%;
      }
    }
  }
}

// if your at the part wher eyou animate the text on hover, try translate: scaleY() instead of giving it a fixed height: %