footer {
  align-self: bottom;
  width: 100%;
  margin-bottom: 0;

  @include desktop {
    text-align: left;
    padding-left: 4rem;
  }
  #error {
    font-style: italic;
    margin: 0 1rem;
  }
  #copyright {
    color: $footer-font-color;
    font-size: .9rem;
    margin-bottom: 2rem;
  }
}