footer {
  align-self: bottom;
  width: 100%;
  margin-bottom: 0;
  position: relative;
  bottom: 0px;

  @include desktop {
    text-align: left;
    padding-left: 4rem;
  }
  #error {
    font-style: italic;
    margin: 0 1rem;
  }
  #copyright {
    color: $footer-font-color;
    font-size: .9rem;
    margin-bottom: 2rem;
  }
}

//temp class for loading sequence so footer doesn't jump up
.absolute-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}