html {
  font-size: $base-font-size;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $main-font-color;
  outline: none;
  background-color: black;
  height: 100%;
}

* {
  box-sizing: border-box;
  outline: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 48rem;
  
  @include tablet {
    max-width: 100%;
  }
  
  @include desktop {
    justify-content: flex-start;
  }
}

ul {
  list-style: none;
}