html {
  font-size: $base-font-size;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $main-font-color;
  outline: none;
  background-color: black;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 48rem;
}

ul {
  list-style: none;
  display: none;
}