header {
  display: flex;
  flex-direction: column;
  height: auto;
  img {
    max-width: 220px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .choose-a-section {
    width: 100%;
    p {
      font-size: .8rem;
      margin-top: 0;
    }
    select {
      width: 120px;
      margin-top: 0;
      font-size: 1.1rem;
    }
  }
}