//style before article selection
.clean {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  
  @include tablet {
    flex-direction: row;
    justify-content: center;
  }

  @include desktop {
    justify-content: flex-start;
  }

  .logo {
    width: 220px;
    padding-top: 20vh;
    padding-bottom: 20px;
    
    @include tablet {
      padding: 0;
      max-width: 30%;
    }
  }
}

.choose-a-section {
  width: 150px;
  margin: 0 auto;

  @include tablet {
    padding-left: 0;
    margin-right: 120px;
    margin-left: 30px;
    text-align: left;
  }

  .header-text {
    font-size: .8rem;
    margin-top: 0;

    @include tablet {
      font-size: .9rem;
    }
  }
  select {
    width: 140px;
    margin-top: 0;
    font-size: 1.1rem;
  }
}

//style after article selection
.busy {
  padding: 3rem;
  align-self: top;
  height: auto;
  width: 100%;
  
  @include tablet {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: flex-start;
  }
  img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    @include tablet {
      width: 75px;
      height: 75px;
      margin: 0;
      margin-right: 40px;
    }
  }
 
  .header-text {
    margin-top: 1rem;
    @include tablet {
      margin-top: .5rem;
    }
  }
}